node_modules
.next
.vercel
.git
.gitignore
.env.development
.env.production
.env.local
*.tsbuildinfo
README.md
Dockerfile
docker-compose.yml
docker-compose.prod.yml
docker/
certificates/
out/
build/
.pnp
.pnp.*
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
