services:
  frontend:
    build:
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    environment:
      - NODE_ENV=production
    ports:
      - '3000:3000'

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - '80:80'
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
